name: Pipeline CI-CD Equipe

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  setup:
    runs-on: ubuntu-latest # On utilise GitHub pour l'instant pour valider le flux
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          cd backend
          npm install